<!DOCTYPE html>
<html lang="en">
<head>
  <link href= "{{url_for('static',filename='bootstrap.min.css')}}" type="text/css" rel="stylesheet">
  <link href= "{{url_for('static',filename='jumbotron-narrow.css')}}" type="text/css" rel="stylesheet">
  <link href= "{{url_for('static',filename='signup.css')}}" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="text-muted">Welcome to the Event Manager's page!</h1>
    </div>
    <div class="jumbotron">
      <h2></h2><a href="event_creation">Go to the Event's Creation page.</a></h2>
    </div>
  </div>
  <footer class="footer">
    <p>Progetto Software Cybersecurity</p>
  </footer>
</body>
</html>