<!DOCTYPE html>
<html lang="en">
<head>
  <link href= "{{url_for('static',filename='bootstrap.min.css')}}" type="text/css" rel="stylesheet">
  <link href= "{{url_for('static',filename='jumbotron-narrow.css')}}" type="text/css" rel="stylesheet">
  <link href= "{{url_for('static',filename='signup.css')}}" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="text-muted">All events</h1>
    </div>
  </div>
   <div class="container">
       <p class="lead" style="color:red;font-weight: bold;">{{error}}</p>
        {% for event_name in event_names %}
        <li>
            <img src="{{image}}" alt="" uk-cover>
            <h2></h2><a href="single_event_seats/{{event_name}}">{{event_name}}</a></h2>
        </li>
        {% endfor %}
    </div>
  <footer class="footer">
    <p>Progetto Software Cybersecurity</p>
  </footer>
</body>
<body>

</body>
</html>