<!DOCTYPE html>
<html lang="en">
<head>
  <link href= "{{url_for('static',filename='bootstrap.min.css')}}" type="text/css" rel="stylesheet">
  <link href= "{{url_for('static',filename='jumbotron-narrow.css')}}" type="text/css" rel="stylesheet">
  <link href= "{{url_for('static',filename='signup.css')}}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <h1>Informations about {{event_name}}</h1>
    <p class="lead" style="color:red;font-weight: bold;">{{error}}</p>
    <h2 >Event date: {{event_date}} </h2>
    <h2 >Available seats: {{event_seats}} </h2>
    <form class="form-event" action="/event_buy_seats" method="post">
        <label for="input_seats" class="form-control">Seats to buy: </label>
        <input autocomplete="off" class="form-control" step="0" name="input_seats" id="input_seats" placeholder="Seats" type="number">
        <button id="btnSignIn" class="btn btn-lg btn-success" type="submit">Buy event's seats</button>
    </form>
</div>
</body>
</html>